# DB_HOST=localhost
# DB_USER=root
# DB_PASSWORD=3994
# DB_NAME=hospital_db
FLASK_SECRET_KEY=change-this-secret-key

DB_HOST=sql12.freesqldatabase.com
DB_USER=sql12832200
DB_PASSWORD=Rajput@51908
DB_NAME=sql12832200