{% extends 'base.html' %}

{% block title %}Book Appointment{% endblock %}

{% block content %}
<section class="panel form-panel">
    <h2>Book Appointment</h2>

    <form method="POST" class="grid-form">
        <select name="doctor_id" required>
            <option value="">Select Doctor</option>

            {% for d in doctors %}
                <option value="{{ d.id }}">
                    Dr. {{ d.name }} - {{ d.specialization }} - ₹{{ d.consultation_fee }}
                </option>
            {% endfor %}
        </select>

        <input type="date" name="appointment_date" required>
        <input type="time" name="appointment_time" required>

        <button type="submit">Book Appointment</button>
    </form>
</section>
{% endblock %}